<a href="https://colab.research.google.com/github/n-prathyusha82/problem_solving-HackerRank-/blob/main/python_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.You are given a set  and  other sets.
Your job is to find whether set  is a strict superset of each of the  sets.
Print True, if  is a strict superset of each of the  sets. Otherwise, print False.
A strict superset has at least one element that does not exist in its subset.
Example:
Set is a strict superset of set.
Set is not a strict superset of set.
Set is not a strict superset of set.
Input Format:
The first line contains the space separated elements of set .
The second line contains integer , the number of other sets.
The next  lines contains the space separated elements of the other sets.
Constraints:
Output Format:
Print True if set  is a strict superset of all other  sets. Otherwise, print False.
Sample Input 0:
1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
Sample Output 0
False**

In [1]:
A = set(input().split())
n = int(input())
result = all(A > set(input().split()) for _ in range(n))
print(result)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

**2.You are given two sets,  and .
Your job is to find whether set  is a subset of set.
If set  is subset of set , print True.
If set  is not a subset of set , print False.
Input Format:
The first line will contain the number of test cases,s.
The first line of each test case contains the number of elements in set .
The second line of each test case contains the space separated elements of set s.
The third line of each test case contains the number of elements in set .
The fourth line of each test case contains the space separated elements of set n.
Constraints:
Output Format:
Output True or False for each test case on separate lines.
Sample Input:
3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2
Sample Output:
True
False
False**

In [2]:
t = int(input())
for _ in range(t):
    a_size = int(input())
    a = set(map(int, input().split()))
    b_size = int(input())
    b = set(map(int, input().split()))
    print(a.issubset(b))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
7
1 2 3 5 6 8 9
True

**3. Operation Choices Write a function OperationChoices(c, a, b) which will accept three integers as an argument, and the function will return: (a + b) if the value of c=1. (a – b) if the value of c=2. (a * b) if the value of c=3. (a / b) if the value of c=4. Sample Test Case: Input: 2 15 20 Output: -55. Operation Choices Write a function OperationChoices(c, a, b) which will accept three integers as an argument, and the function will return: (a + b) if the value of c=1. (a – b) if the value of c=2. (a * b) if the value of c=3. (a / b) if the value of c=4. Sample Test Case: Input: 2 15 20 Output: -5t**

In [3]:
def operationchoices(c, a, b):
  if c == 1:
    return a + b
  elif c == 2:
    return a - b
  elif c == 3:
    return a * b
  elif c == 4:
    return a / b
  else:
    return "INVALID"
c = int(input())
a = int(input())
b = int(input())
print(operationchoices(c, a, b))

3
15
20
300

**4.MATHS IS FUN You are required to implement the following function: int Calculate(int m, int n); The function accepts 2 positive integers ‘m’ and ‘n’ as its arguments.You are required to calculate the sum of numbers divisible both by 3 and 5, between ‘m’ and ‘n’ both inclusive and return the same. Note 0 < m <= n Example Input: m : 12 n : 50 Output 90 Explanation: The numbers divisible by both 3 and 5, between 12 and 50 both inclusive are {15, 30, 45} and their sum is 90. Sample Input m : 100 n : 160 Sample Output 510**

In [5]:
def calculate(m, n):
  return sum(i for i in range(m, n + 1) if i % 3 == 0 and i % 5 == 0)
m = int(input("m: "))
n = int(input("n: "))
print(calculate(m, n))

m: 100
n: 160
510

**5. Given a string you are requested to determine whether the string should be converted to all uppercase or all lowercase, depending on the count of uppercase and lowercase letter in that string. ex1: AbCdEfG output1: ABCDEFG EX2:xYz output2:xyz**

In [6]:
def convert_string(s):
  count_upper = 0
  count_lower = 0
  if count_upper >= count_lower:
    return s.upper()
  else:
    return s.lower()
s = input()
print(convert_string(s))

AbCdEfG
ABCDEFG