<a href="https://colab.research.google.com/github/n-prathyusha82/problem_solving-HackerRank-/blob/main/python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.A set is an unordered collection of elements without duplicate entries.
When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.
Example:
print set()
set([])
print set('HackerRank')
set(['a', 'c', 'e', 'H', 'k', 'n', 'r', 'R'])
print set([1,2,1,2,3,4,5,6,0,9,12,22,3])
set([0, 1, 2, 3, 4, 5, 6, 9, 12, 22])
print set((1,2,3,4,5,5))
set([1, 2, 3, 4, 5])
print set(set(['H','a','c','k','e','r','r','a','n','k']))
set(['a', 'c', 'r', 'e', 'H', 'k', 'n'])
print set({'Hacker' : 'DOSHI', 'Rank' : 616 })
set(['Hacker', 'Rank'])
print set(enumerate(['H','a','c','k','e','r','r','a','n','k']))
set([(6, 'r'), (7, 'a'), (3, 'k'), (4, 'e'), (5, 'r'), (9, 'k'), (2, 'c'), (0, 'H'), (1, 'a'), (8, 'n')])
Basically, sets are used for membership testing and eliminating duplicate entries.
Task:
Now,let's use our knowledge of sets and help Mickey.
Ms.Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.
Formula used:
Function Description:
Complete the average function in the editor below.
average has the following parameters:
int arr: an array of integers
Returns:
float: the resulting float value rounded to 3 places after the decimal
Input Format:
The first line contains the integer, , the size of n.
The second line contains the  space-separated integers, .
Constraints
Sample Input:
STDIN Function
10.arr[] size N = 10
161 182 161 154 176 170 167 171 170 174 arr = [161, 181, ..., 174]
Sample Output:
169.375**

In [1]:
def average(array):
  height_distinct = set(arr)
  return round(sum(height_distinct) / len(height_distinct), 3)
n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

**2.Objective
Today, we're learning about a new data type: sets.
Concept:
If the inputs are given on one line separated by a character (the delimiter), use split() to get the separate values in the form of a list. The delimiter is space (ascii 32) by default. To specify that comma is the delimiter, use string.split(','). For this challenge, and in general on HackerRank, space will be the delimiter.
Usage:
a = raw_input()
5 4 3 2
lis = a.split()
print (lis)
['5', '4', '3', '2']
If the list values are all integer types, use the map() method to convert all the strings to integers.
newlis = list(map(int, lis))
print (newlis),
[5, 4, 3, 2],
Sets are an unordered collection of unique values. A single set contains values of any immutable data type.
CREATING SETS:
myset = {1, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a', 'b']) # Creating a set from a list
myset,
{'a', 'b'}
MODIFYING SETS:
Using the add() function:
myset.add('c')
myset
{'a', 'c', 'b'}
myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5, 4))
myset
{'a', 'c', 'b', (5, 4)}
Using the update() function:
myset.update([1, 2, 3, 4]) # update() only works for iterable objects
myset:
{'a', 1, 'c', 'b', 4, 2, (5, 4), 3}
myset.update({1, 7, 8})
myset
{'a', 1, 'c', 'b', 4, 7, 8, 2, (5, 4), 3}
myset.update({1, 6}, [5, 13])
myset,
{'a', 1, 'c', 'b', 4, 5, 6, 7, 8, 2, (5, 4), 13, 3}
REMOVING ITEMS:
Both the discard() and remove() functions take a single value as an argument and removes that value from the set. If that value is not present, discard() does nothing, but remove() will raise a KeyError exception.
myset.discard(10)
myset,
{'a', 1, 'c', 'b', 4, 5, 7, 8, 2, 12, (5, 4), 13, 11, 3}
myset.remove(13)
myset,
{'a', 1, 'c', 'b', 4, 5, 7, 8, 2, 12, (5, 4), 11, 3}
COMMON SET OPERATIONS Using union(), intersection() and difference() functions.
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b
{2, 4, 5, 9, 11, 12}
a.intersection(b) # Values which exist in a and b
{2, 4}
a.difference(b) # Values which exist in a but not in b
{9, 5}
The union() and intersection() functions are symmetric methods:
a.union(b) == b.union(a)
True
a.intersection(b) == b.intersection(a)
True
a.difference(b) == b.difference(a)
False
These other built-in data structures in Python are also useful.
Task:
Given sets of integers,  and , print their symmetric difference in ascending order.The term symmetric difference indicates those values that exist in either or but do not exist in both.
Input Format:
The first line of input contains an integer,n.
The second line contains  space-separated integers.
The third line contains an integer,n.
The fourth line contains  space-separated integers.
Output Format:
Output the symmetric difference integers in ascending order,one per line.
Sample Input:
STDIN,Function
4           
2 4 5 9,
4           
2 4 11 12,
set a size M = 4,
a = {2, 4, 5, 9},
set b size N = 4
b = {2, 4, 11, 12}
Sample Output:
5
9
11
12**

In [2]:
M = int(input())
A = set(map(int, input().split()))
N = int(input())
B = set(map(int, input().split()))
result = sorted(A.symmetric_difference(B))
for num in result:
  print(num)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

**3.Problem Statement: A palindrome is a sequence of characters that has the property of reading the same in either direction. You are given a function. charConvertToPalindrome(charstr): The function accepts a string 'str'.Implement the function to find and return the min characters requried to append at the end of string 'str' to make it palindrome.**

In [3]:
def ConvertToPalindrome(l):
  le=len(l)
  for i in range(le):
    le=len(l)
    if l[i]!=l[le-i-1]:
      l.insert(le-i,l[i])
    else:
      break
    s="".join(l)
    if s==s[::-1]:
      s=s.replace(s1,"")
      return s
s1=input().strip()
l=list(s1)
print(ConvertToPalindrome(l))

abaa
None

**4..problem statment: Implement of following function int OddEvenSum(int num). The function output a non-negative integer 'num'as its argument.Implement the function to find the sum of all odd digits and sum of all digits of 'num' and return summ without value is greater.**

In [4]:
def smallestCharacter(s):
  freq = [0] * 26
  for i in s:
    freq[ord(i) - ord('a')] += 1

  for i in range(0,26):
    if(freq[i] ==0):
      return chr(ord('a') + i)
s=input()
print(smallestCharacter(s))

aba
c

**5.N-base notation is a system for writing numbers which uses only n different symbols, This symbols are the first n symbols from the given notation list(Including the symbol for o) Decimal to n base notation are (0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:A,11:B and so on upto 35:Z)
Implement the following function, Char* DectoNBase(int n, int num):
The function accept positive integer n and num Implement the function to calculate the n-base equivalent of num and return the same as a string
Steps:
Divide the decimal number by n,Treat the division as the integer division Write the the remainder (in n-base notation) Divide the quotient again by n, Treat the division as integer division Repeat step 2 and 3 until the quotient is 0 The n-base value is the sequence of the remainders from last to first Assumption:
1 < n < = 36
Example:
Input:
n: 12,
num: 718
Output:
4BA
Explanation:
num Divisor quotient remainder
718 12 59 10(A),
59 12 4 11(B),
4 12 0 4(4)
Sample Input:
n: 21
num: 5678
Sample Output
CI8**

In [6]:
def DectoNBase(n, num):
    if n < 2 or n > 36:
        return "Error:Base out of range"
    symbols = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    if num == 0:
        return "0"
    result = ""
    while num > 0:
        result = symbols[num % n] + result
        num //= n
    return result
n = int(input("n: "))
num = int(input("num: "))
print(DectoNBase(n, num))

n: 21
num: 5678
CI8

**6.Given two ranges(L1,R1)and(L2,R2).You need to find two numbers a and b,such that L1<=b<=R1 and L2<=B<=R2 and the product of a and b is max. I/P Format: The i/p consists of a single line. The lines contains four space-separated integers denoting L1,L2,R1,R2 respectively.**

In [7]:
def Maxproduct(l1,l2,r1,r2):
  max_1 = max(l1,r1)
  max_2 = max(l2,r2)
  result = max_1 * max_2
  return result
l1,l2,r1,r2=list(map(int,input().split()))
print(Maxproduct(l1,l2,r1,r2))

3 7 5 6
35